html, body {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 0 6px;
}

/* home page tab highlight */
.tab .ui.tabular.menu .item {
  flex: 1 1 auto;
  background: none #f6f6f6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-width: 1px;
  border-color: #d4d4d5;
}
.tab .ui.tabular.menu .active.item {
  background: none #fff;
}
/* poll quesion page */
.ui.radio.checkbox {
  margin-left: 20px;
  margin-bottom: 4px;
}
/* poll results page */
i.compact.icon {
  margin: 0 .5em 0 0!important;
}
.ui.ribbon.label.vote {
  margin-bottom: 8px;
}
/* login page row spacing */
.footer {
  text-align: center;
  font-size: .85em;
}
.ui.grid>.row.login:first-of-type {
  padding-top: 1em;
}
.ui.grid>.row.login:last-of-type {
  padding-bottom: 1em;
}
.ui.grid>.row.login {
  padding-top: .5em;
  padding-bottom: .5em;
}

/* @media screen and (max-width: 650px) {
  html, body {
    font-size: 16px;
  }
} */